body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 250px;
  margin-bottom: 100px;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background-color: #6200ea;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #4b00b5;
}

.logo a img {
  position: absolute;
  max-width: 200px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
  margin-top: 40px;
}

.text span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #222c37;
  font-size: 24px;
  margin-top: 200px;
  padding-left: 10px;
}

.quen-mk a,
.dang-ki a {
  color: #6200ea;
  text-decoration: none;
}

.quen-mk a:hover,
.dang-ki a:hover {
  color: #007bff;
  box-shadow: 0 1px #2e69ff;
}

.text-bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 1;
  margin-top: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #707070 !important;
  font-size: 24px;
  margin-top: 440px;
  padding-left: 10px;
  font-size: 16px;
}

.chua-co-tk {
  margin-top: 30px;
}

.quen-mk {
  margin-top: 10px;
}

.text-form {
  display: inline;
}

.text-form i {
  padding-left: 4px;
}

.text-form input {
  width: 95%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quen-mk a,
.chua-co-tk a {
  color: #6200ea;
  text-decoration: none;
}

.quen-mk a:hover,
.chua-co-tk a:hover {
  color: #007bff;
  box-shadow: 0 1px #2e69ff;
}

.button-label {
  display: inline-block;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn {
  margin-top: 10px;
}

.span-text {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
